body  {
  font-family: helvetica;
  font-size: 22px;
  color: seashell !important;
  background-color: black;
  opacity: 0.9;
  text-align: center;


}

.flex-container {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

a  {
  color: seashell;
}


header  {
  border-bottom: 1px solid seashell;
  align-items: center;
  height: 69px;
  width: 100%;

 }


 nav {
   text-decoration: underline;
   color: seashell;
   text-align: right;


 }

header img {
   height: 50px;
   padding-left: 10px;
 }

 span {
   padding-left: 10px;

 }


 .main-image {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   background-image: url("../images/img-mission-background.jpg");
   height: 700px;
 }

.main-content {
   background-color: black;
   width: 1200px;
 }

 .tea-month {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
 }

 .tea-item img {
   height: 200px;
   width: 300px;
 }
